.top {
	background-color: #5C6BC2;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	position: fixed;
	top:0;
	width: 100%;
	z-index:100;
}

.container {
	margin-top: 50px;
	margin-bottom: 55px;
}

h1 {
	color: red
}

.nav {
	color:red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 10px;
}

.nav div {
	margin: 10px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#eee;
}

